$zero:0;
$yellow : #fcba03;
$red : #f8391b;

$green : #1e6633;
$padding-10 : 10px;
$margin-5 : 5px;
$margin-10 : 10px;

@mixin dflex() {
  display: flex;
}

@mixin margin($top, $bottom) {
  margin-bottom: $bottom;
  margin-top: $top;
}

.jumbotron {
  @include margin(50px, $margin-10);
  background-color: $yellow;
  padding: $padding-10;
}

.customized-card {
  @include dflex();
  flex: 1 400px;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0px 2px 0px;
  margin-top: $margin-10;
  margin-left: $margin-10;
  margin-right: $margin-10;
}

.customized-card > div > .btn {
  border-radius: $zero;
  width: 100%;
}

footer {
  margin-top: 60px;
  padding: $padding-10;
  background-color: $red;
}
