.jumbotron {
    background-color: darkcyan;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:50px;
}

.customized-card {
    flex: 1 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
    margin: 5px;
}

.customized-card > div > .btn {
    width: 100%;
}

footer {
    margin-top: 60px;
    padding: 10px;
    background-color: tomato;
}